* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
}

.body {
  width: 50%;
}

hr .break {
  width: 95%;
  margin: 0 auto;
  color: #d3d3d3f1;
}

/* NAV START */
.body .nav .top {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  margin: 5px;
}

.body .nav .top .left {
  margin: 5px;
}

.body .nav .top .left select {
  border: 0px;
  background-color: transparent;
}

.body .nav .top .right {
  margin: 3px;
}

.body .nav .top .right select {
  border-radius: 0px;
  background-color: #ffffff;
  box-sizing: content-box;
  margin: 2px;
  border-style: solid;
}

.body .nav .top2 {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin: 10px;
}

.body .nav .top2 .left {
  width: 32%;
  display: flex;
  justify-content: space-between;
}

.body .nav .top2 .left .arrows {
  display: flex;
  justify-content: space-between;
}

.body .nav .top2 .right .buttons button {
  width: 90px;
}
/* NAV END */

/* Content Start */
.body .top .content table {
  width: 100%;
}

.body .top .content table input {
  width: 100%;
}
